.el-form {
    margin-right: 30px;
}

.el-card {
    margin-top: 10px;
}

.el-table {
    margin-top: 10px;
}

.el-pagination {
    margin-top: 10px;
}

#img {
    width: 20px;
    height: 20px;
}

.el-tooltip__popper {
    max-width: 300px;
}

.el-dialog__header {
    background-color: #409EFF;
    height: 10px;
}
.el-dialog {
    /* background-color: purple!important; */
}