.el-form {
    margin-right: 30px;
}

.el-card {
    margin-top: 10px;
}

.el-table {
    margin-top: 10px;
}

.el-pagination {
    margin-top: 10px;
}

#img {
    width: 20px;
    height: 20px;
}

.el-tabs__item:hover {
    color: #303133 !important;
    cursor: pointer;
}

.el-tabs__item.is-active {
    color: #fff !important;
    background-color: #42B983;
}

.el-tooltip__popper {
    max-width: 300px;
}

.el-dialog__header {
    background-color: #4991E3;
    padding: 15px 20px 10px !important;
}

.el-dialog__title {
    color: #fff !important;
}

.el-dialog__close {
    color: #fff !important;
}

.el-dialog__footer {
    padding: 10px 20px 10px !important;
    border-top: 1px solid #f5f5f5;
}